@charset "UTF-8";

/* FUNÇÃO DE FLUTUAÇÃO */

@keyframes float{
	0%,100%{
		transform:translatey(0)
	}
	50%{
		transform:translatey(-30px)
	}
}
.efeito-flutuante-infinito {
     animation: float 3s ease-in-out infinite;
}

/* ANIMAÇÃO DO MENU */

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.9);
    overflow-x: hidden;
    transition: 0.5s;
 }
  
.overlay-content {
     position: relative;
     top: 25%;
     width: 100%;
     text-align: center;
     margin-top: 30px;
}
  
.overlay a {
     padding: 8px;
     text-decoration: none;
     font-size: 36px;
     color: #818181;
     display: block;
     transition: 0.3s;
}
  
.overlay a:hover, .overlay a:focus {
     color: #f1f1f1;
}
  
.overlay .closebtn {
     position: absolute;
     top: 20px;
     right: 45px;
     font-size: 60px;
}

.open {
    font-size: 50px;
    cursor: pointer;
}

/* ANIMAÇÃO DO EMOJI */

.emoji-hand{
     font-size: 3rem;
     animation: waving-hand 2.5s infinite;
     transform-origin: 70% 70%;
     display: inline-block;
}
 
@keyframes waving-hand {
     0% {
         transform: rotate(0deg);
     }
     10% {
         transform: rotate(14deg);
     }
     20% {
         transform: rotate(-8deg);
     }
     30% {
         transform: rotate(14deg);
     }
     40% {
         transform: rotate(-4.0deg);
     }
     50% {
         transform: rotate(10deg);
     }
     60% {
         transform: rotate(0deg);
     }
     100% {
         transform: rotate(0deg);
     }
}
