@charset "UTF-8";

/* cores principais 

    #FF0043 == red
    #FAFAFA == white
    #535353 == gray

    escolhas dark

    #100F10 == forte
    #1B1B1B == medio
    #242424 == claro

    

*/

* {
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: rgb(2, 2, 29);
}

header{
    display: flex;
    height: 80px;
    max-width: 100%;
    align-items: center;
    text-align: center;
    background-color: rgb(6, 6, 58);
    margin: 0px;
    box-shadow: 5px 5px rgba(1, 1, 23, 0.648);
    margin-bottom: 10px;
    color: #FAFAFA;
}

/* FAVICON */

header > img {
    height: 80px;
    width: 80px;
    display: inline-block;
}

/* HEADER */

nav {
    display: inline-block;
    position: relative;
}

nav > a {
    text-decoration: solid;
    color:#FAFAFA;
    display: inline-block;
    padding: 15px;
}

nav > a:hover {
    color: rgba(8, 107, 255, 0.937)
}

main {
    margin: auto;
}

main > div > h1 {
    color: #FAFAFA;
}

div#meu_nome{
    padding-top: 50px;
    font-size: 1.8em;
    height: 600px;
    max-width: 850px;
    padding-left: 50px;
    margin: auto;
    text-align: left;
}

div > h1#animaçao_nome{
    color: rgb(12, 12, 176);
    
}
/* ARTICLE SOBRE MIM */

div > p{
    color: #c1bebe;
} 

article {
    margin: auto;
    height: 600px;
    background-color: rgb(5, 5, 46);
    display: flex;
}

article p {
    width: 80%;
    word-break: break-word;
    color:#c1bebe;
    font-size: 2vw;
    text-justify: auto;
    margin: auto;

}

article > div#foto-minha{
    width: 800px;
    height: 100%;
    border-radius: 100px;
    align-items: center;
    display: flex;
}

article > div#foto-minha > img{
    width: 90%;
    height: 90%;
    margin: auto;
    border-image: auto;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.721);
}

/* SECTION DAS IMG_DEV */

section#linguagens {
    height: 600px;
    background-color: rgb(2, 2, 29);
    display: flex;
    align-items: center;
}
div.colun_1, div.colun_2{
    margin: auto;
    width: 230px;
    height: 230px;
    max-width: 100%;
}

img.img_code{
    margin: auto;
    width: 230px;
    height: 230px;
}

/* FUNÇÃO DE FLUTUAÇÃO */

@keyframes float{
	0%,100%{
		transform:translatey(0)
	}
	50%{
		transform:translatey(-30px)
	}
}
.efeito-flutuante-infinito {
     animation: float 3s ease-in-out infinite;
}

/* 
div#lugar-btn {
    display: flex;
    justify-content: center;
    align-items: center; 
}
*/

/* ANIMAÇÃO DO MENU */
.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.9);
    overflow-x: hidden;
    transition: 0.5s;
 }
  
.overlay-content {
     position: relative;
     top: 25%;
     width: 100%;
     text-align: center;
     margin-top: 30px;
}
  
.overlay a {
     padding: 8px;
     text-decoration: none;
     font-size: 36px;
     color: #818181;
     display: block;
     transition: 0.3s;
}
  
.overlay a:hover, .overlay a:focus {
     color: #f1f1f1;
}
  
.overlay .closebtn {
     position: absolute;
     top: 20px;
     right: 45px;
     font-size: 60px;
}

.open {
    font-size: 50px;
    cursor: pointer;
}

/* CARROCEL DE PROJETOS */

.projetos {
    position: relative;
    overflow-x: hidden;
    padding-top: 30px;
    height: 340px;
    background-color: rgb(7, 7, 76);
    align-items: center;
}
.proj-tra {
    position: absolute;
    display: flex;
    align-items: start;
    justify-items: start;
    transition: 0.4s ease-in-out;
}

.trabalhos {
    margin: 0 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.trabalhos img{
    height: 300px;
    width: 400px;
}

/* BOTÃO DO CARROCEL  */

button {
    width: 80px;
    height: 50px;
    font-size: 20px;
    margin: 20px;
    border-radius: 15px;
    background-color: rgb(11, 11, 93);
    margin: 0px;
    color: whitesmoke;
    cursor: pointer;
    border: none;
    outline: none;
    position: absolute;
    left: 60%;
    transform: translate(-60%);
}

button:nth-child(2) {
    margin-left: -100px;
}

button:hover {
    background-color: rgb(99, 99, 111);
}

#espaço{
    display: inline-block;
    width: 65%;
}
  
@media screen and (max-height:450px){
    .overlay a {font-size: 20px}
    .overlay .closebtn {
      font-size: 40px;
      top: 15px;
      right: 35px;
    }
}

@media screen and (max-width:700px){
    div#meu_nome{
        height: 800px;
    }
    
    article > div#foto-minha{
        align-items: center;
        display: flex;
        height: 500px;
        width: 400px;
        margin: auto;
    }

    article{
        display: block;
        height: 750px
    }

    article p {
        width: 90%;
        word-break: break-word;
        color:#c1bebe;
        font-size: 3.4vw;
        text-justify: auto;
    }

    section > img.img_code{
        margin: auto;
        width: 180px;
        height: 180px;
        display: inline-block;
    }
    div.colun1, div.colun_2{
        width: 100%;
    }

    section#linguagens { 
        display: flex;
        padding: 50px 10px;
        height: 700px;
    }
}

@media screen and (max-width:600px){
    nav > a {
        display: none;
    }

}

@media screen and (max-width:500px){
    div#meu_nome{
        height: 800px;
    }

    article{
        height: 750px;
    }

    article > div#foto-minha{
        align-items: center;
        display: flex;
        height: 500px;
        width: 400px;
        margin: auto;
    }
}

@media screen and (min-width:600px) {
    header span{
        display: none;
    }
}