@charset "UTF-8";

/* cores principais 

    #FF0043 == red
    #FAFAFA == white
    #535353 == gray

    escolhas dark

    #100F10 == forte
    #1B1B1B == medio
    #242424 == claro

    

*/

* {
    padding: 0px;
    margin: 0px;
}

body{
    background-color: rgb(2, 2, 29);
}

main {
    width: 900px;
    height: 700px;
    background-color: rgb(4, 4, 35);
    margin: auto;
}

button {
    width: 40px;
    height: 50px;
    background-color: blue;
    color: whitesmoke;
    margin: 0px;
    cursor: pointer;
}

button#ingles{
    border-radius: 0px 15px 15px 0px;
}

button#portugues{
    border-radius: 15px 0px 0px 15px;
}

button:hover {
    background-color: rgb(99, 99, 111);
}

div {
    display: flex;
    justify-content: center;
    align-items: center; 
}